<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Home</h1>
    <% for( let i = 0; i < users.length; i++ ) { %>
        <p>No: <%= i + 1 %></p>
        <p>Username: <%= users[i].username %></p>
        <p>Password: <%= users[i].password %></p>
        <p>Is Admin: <%= users[i].is_admin %></p>
        <a href="/user/<%= users[i]._id %>">See Detail</a>
        <hr>
    <% } %>
    <a href="/create">Add data</a>
</body>
</html>